<div id="home" class="page">
    <div class="page-region">
        <div class="page-region-content">
            <div class="grid">
                <div class="row" style="margin-top: 30px;">
                    <div class="span8">
                        <div class="hero-unit text-center">
                                <img src="images/logo.png" style="width: 100%; padding-bottom: 1em;"/>
                            <p class="text-center">
                                So, you like our Game Maker?
                                <br />
                                <a target="_blank" href="http://www.creatinggenres.com/">See what the fuss is all about</a>
                            </p>
                        </div>
                    <!-- span (the span8, Kolio) -->
                    </div>
                                
                    <div class="span4 padding40 text-center bg-color-blueLight">
                                        
                            <h2 class="fg-color-red">why not play your games instead?</h2>
                            <p class="">Immense <a class="" href="#community">possibilities</a> every day</p>
                                        
                            <a href="#games"><h1><i class="icon-arrow-right-3 fg-color-red"></i></h1></a>
                    </div>
                                
                <!-- row -->
                </div>
                            
            <!-- grid collapse -->
            </div>
                    
            <div class="grid">
                <div class="row">
                    <div class="span4 padding10 text-center bg-color-blue">
                        <a href="#create">
                            <h2 class="fg-color-white">Create <i style="font-size: 1.3em;" class="icon-pencil place-right"></i></h2>
                        </a>
                    <!-- span -->
                    </div>
                                
                    <div class="span4 padding10 text-center bg-color-green">
                        <a href="#games">
                            <h2 class="fg-color-white">Explore <i style="font-size: 1.3em;" class="icon-cloud place-right"></i></h2>
                        </a>
                        <!-- span -->
                    </div>
                                
                    <div class="span4 padding10 text-center bg-color-red">
                        <a href="#community">
                            <h2 class="fg-color-white">Share <i style="font-size: 1.3em;" class="icon-share place-right"></i></h2>
                        </a>
                        <!-- span -->
                    </div>
                            
                </div>
                <!--grid collapse-->
            </div>
            <!-- page region content -->
        </div>
        <!-- page region -->
    </div>
    <!-- page -->
</div>